<resto-dynamic-panel-wrapper>
  <resto-dynamic-panel-wrapper-header>
    {{ data.label }}
  </resto-dynamic-panel-wrapper-header>
  <resto-dynamic-panel-wrapper-content>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quidem molestiae iure, ullam dignissimos, qui corporis
      asperiores blanditiis reprehenderit dolorem quisquam atque accusamus maxime tenetur modi voluptates numquam
      veritatis laudantium! Modi dolorem illo nesciunt at quaerat. Ullam quo minima cupiditate pariatur doloremque,
      facilis quia ipsum nulla numquam id doloribus iste iusto quibusdam quos dolorum rerum architecto harum cumque fugit
      qui? Hic nesciunt veniam incidunt sed adipisci nemo reprehenderit eaque iure quibusdam ad placeat minus cumque,
      perferendis rem qui eos iste assumenda consequatur quasi similique eligendi blanditiis! Sit itaque quasi ullam.
      Laborum natus ipsum cupiditate modi, hic nam voluptates, sint nostrum voluptatibus amet, porro animi possimus
      sapiente quibusdam incidunt ipsa ducimus repellendus saepe inventore! Illo dolorum quis officiis. Odio, iusto cum.
      Excepturi sapiente aperiam ut aspernatur delectus sequi aliquam voluptatem hic fuga vel. Ea aliquid architecto natus
      alias. Possimus veritatis minus fuga, explicabo temporibus, maiores incidunt error eius earum fugiat quae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quidem molestiae iure, ullam dignissimos, qui corporis
      asperiores blanditiis reprehenderit dolorem quisquam atque accusamus maxime tenetur modi voluptates numquam
      veritatis laudantium! Modi dolorem illo nesciunt at quaerat. Ullam quo minima cupiditate pariatur doloremque,
      facilis quia ipsum nulla numquam id doloribus iste iusto quibusdam quos dolorum rerum architecto harum cumque fugit
      qui? Hic nesciunt veniam incidunt sed adipisci nemo reprehenderit eaque iure quibusdam ad placeat minus cumque,
      perferendis rem qui eos iste assumenda consequatur quasi similique eligendi blanditiis! Sit itaque quasi ullam.
      Laborum natus ipsum cupiditate modi, hic nam voluptates, sint nostrum voluptatibus amet, porro animi possimus
      sapiente quibusdam incidunt ipsa ducimus repellendus saepe inventore! Illo dolorum quis officiis. Odio, iusto cum.
      Excepturi sapiente aperiam ut aspernatur delectus sequi aliquam voluptatem hic fuga vel. Ea aliquid architecto natus
      alias. Possimus veritatis minus fuga, explicabo temporibus, maiores incidunt error eius earum fugiat quae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quidem molestiae iure, ullam dignissimos, qui corporis
      asperiores blanditiis reprehenderit dolorem quisquam atque accusamus maxime tenetur modi voluptates numquam
      veritatis laudantium! Modi dolorem illo nesciunt at quaerat. Ullam quo minima cupiditate pariatur doloremque,
      facilis quia ipsum nulla numquam id doloribus iste iusto quibusdam quos dolorum rerum architecto harum cumque fugit
      qui? Hic nesciunt veniam incidunt sed adipisci nemo reprehenderit eaque iure quibusdam ad placeat minus cumque,
      perferendis rem qui eos iste assumenda consequatur quasi similique eligendi blanditiis! Sit itaque quasi ullam.
      Laborum natus ipsum cupiditate modi, hic nam voluptates, sint nostrum voluptatibus amet, porro animi possimus
      sapiente quibusdam incidunt ipsa ducimus repellendus saepe inventore! Illo dolorum quis officiis. Odio, iusto cum.
      Excepturi sapiente aperiam ut aspernatur delectus sequi aliquam voluptatem hic fuga vel. Ea aliquid architecto natus
      alias. Possimus veritatis minus fuga, explicabo temporibus, maiores incidunt error eius earum fugiat quae.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quidem molestiae iure, ullam dignissimos, qui corporis
      asperiores blanditiis reprehenderit dolorem quisquam atque accusamus maxime tenetur modi voluptates numquam
      veritatis laudantium! Modi dolorem illo nesciunt at quaerat. Ullam quo minima cupiditate pariatur doloremque,
      facilis quia ipsum nulla numquam id doloribus iste iusto quibusdam quos dolorum rerum architecto harum cumque fugit
      qui? Hic nesciunt veniam incidunt sed adipisci nemo reprehenderit eaque iure quibusdam ad placeat minus cumque,
      perferendis rem qui eos iste assumenda consequatur quasi similique eligendi blanditiis! Sit itaque quasi ullam.
      Laborum natus ipsum cupiditate modi, hic nam voluptates, sint nostrum voluptatibus amet, porro animi possimus
      sapiente quibusdam incidunt ipsa ducimus repellendus saepe inventore! Illo dolorum quis officiis. Odio, iusto cum.
      Excepturi sapiente aperiam ut aspernatur delectus sequi aliquam voluptatem hic fuga vel. Ea aliquid architecto natus
      alias. Possimus veritatis minus fuga, explicabo temporibus, maiores incidunt error eius earum fugiat quae.
    </p>
  </resto-dynamic-panel-wrapper-content>
  <resto-dynamic-panel-wrapper-actions>
    <button mat-stroked-button (click)="onCloseClicked()">Cancel</button>
    <button mat-raised-button color="accent" tabindex="1">Apply</button>
  </resto-dynamic-panel-wrapper-actions>
</resto-dynamic-panel-wrapper>
